@media screen and (min-width: 0) and (max-width: 1368px){
    .a{
        height: 100px;
    }
    .container{
        flex-direction: column;
        height: 700px;
    }

    .inner-container{
        width: 100%;
    }
    .h{
        width: 100%;
    }
}